body{
    background-color: rgb(46, 232, 245);
    animation: dayTonight 10s infinite 1.5s;
}

.container{
    position: absolute;
    top: 50%;
    margin-left: 50%;
    transform: translate(50%, -50%);
    display: block;
}

.sol{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #ffee00;
    border: 3px solid rgb(252, 227, 0);
}
.shadow{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color:rgb(255, 255, 255) ;
    top: -5px;
    left: 10px;
    animation: moveshadow 10s infinite 1.5s;
}
@keyframes moveshadow {
    0%{
        transform: translate(150px);
        background-color: rgb(0, 0, 0);
    }
    50%{
        transform: translate(-10px);
        background-color: rgb(0, 0, 0);
    }
    100%{
        transform: translate(-170px);
        background-color: rgb(0, 204, 255);
    }
    
}
@keyframes dayTonight{
    0%{
        background-color: rgb(0, 204, 255);
    }
    50%{
        background-color: black;
    }
    100%{ 
        background-color: rgb(0, 204, 255);
    }
}
